.footer {
    background: #F5F5F5;
    padding-top: 106px;
    padding-bottom: 100px;
    .container {
        display: flex;
        flex-wrap: wrap;
        position: relative;

        .logo {
            margin-right: 50px;
        }

        .row {
            flex: 1 0 100%;
            width: 100%;
            display: flex;
            margin-bottom: 50px;
        }

        .col {
            //display: grid;
            //grid-template-columns: 1fr 1fr;
            //grid-template-rows: 1fr 1fr;
            margin-right: 83px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &:last-child {
                margin-right: 138px;
            }
            
        }

        .main {
            width: 355px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-right: auto;
            .info {
                .line {
                    display: flex;
                    

                    .item {
                        display: flex;
                        flex: 1 0 50%;
                        flex-direction: column;
                        margin-bottom: 16px;
    
                        .title {
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 22px;
                            color: #BCBCBC;
                            margin-bottom: 4px;
                        }
    
                        .value {
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 22px;
                            color: #333333;
    
                        }
                    }
                }

            }
        }

        .menu {
            color: #333333;
            margin-bottom: 56px;
            &:last-child {
                margin-bottom: 0;
            }
            .title {
                font-weight: 700;
                font-size: 18px;
                line-height: 22px;
                
                margin-bottom: 24px;
                min-height: 22px;
            }
            .list {
                display: flex;
                flex-direction: column;

                li {
                    margin-bottom: 17px;

                    &:last-child {
                        margin-bottom: 0;
                    }
                    a {
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 22px;
                    }
                }
            }
        }

        .social {
            display: flex;
            margin-top: -7px;
            a {
                display: inline-flex;
                margin-right: 17px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        .copyright {
            .text {
                margin-top: 0;
                margin-bottom: 11px;
            }
        }

        .contact-us {
            position: absolute;
            top: -5px;
            right: -1px;
        
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            text-align: center;
            color: #F64F00;
            border: 1px solid #F64F00;
            border-radius: 50%;
            display: inline-flex;
            width: 130px;
            height: 130px;
            justify-content: center;
            align-items: center;
            padding: 9px;
        }

        .created-by {
            position: absolute;
            bottom: 0;
            right: 15px;
        }
    }


}